// scss 변수

$text_Gray01: #929292;
$text_Gray02: #9f9fba;
$Secondary_V: #a796ff;
$primary_V: #6f36ff;
$Point_Red: #e0002b;
$point_Green: #00a5bc;
$BG_V: #141225;
$BG_MainBOX: #2d2a5c;
$login_BGBOX: #19182f;
$input_BOXbg: #2c273f;
$login_BOXline: #443f5b;
$login_BOXline_hover: #8f8db1;
$mocup_bg: #ececec;
$mocup_line: #d1d1d1;
$mocup_text: #929292;
$popup_B01: #443f5b;
$popup_hover: #2c273f;
$popup_BBGG: #46405f;
$popup_BBG: #3d3755;
$w: #fff;
$b: #000;

$widthCont: 1280px;

$xxl: 1440px; //pc
$xl: 1280px; //notebook
$lg: 1024px; //notebook s-size
$md: 744px; //tablet-세로
$sm: 428px; //mobile
// $ssm: 375px;
